@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    background: radial-gradient(#282c34, #282c34);
  }

  a {
    color: white;
    padding-left: 4rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
